<h1 class="text-2xl font-bold mb-4">Hồ sơ</h1>
<% if (error) { %>
    <p class="text-red-500 mb-4"><%- error %></p> <!-- A03: XSS -->
    <% } %>
        <form method="POST" action="/users/profile" class="space-y-4">
            <div>
                <label class="block text-gray-700">Tên người dùng:</label>
                <input type="text" name="username" value="<%= user.username %>" readonly
                    class="border rounded p-2 w-full bg-gray-200">
            </div>
            <div>
                <label class="block text-gray-700">Email:</label>
                <input type="email" name="email" value="<%= user.email %>" readonly
                    class="border rounded p-2 w-full bg-gray-200">
            </div>
            <div>
                <label class="block text-gray-700">Tiểu sử:</label>
                <textarea name="bio" class="border rounded p-2 w-full"><%= user.bio %></textarea>
            </div>
            <% if (locals.user && locals.user.roleId===1) { %>
                <div>
                    <label class="block text-gray-700">Mã Vai trò:</label>
                    <input type="number" name="roleId" value="<%= user.roleId %>" class="border rounded p-2 w-full">
                </div>
                <% } %>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Cập
                        nhật</button>
        </form>